<div class="l-bottom">
    <div class="wc">
        <div class="l-bottom-infolist">
            <div class="l-bottom-infolist-title">Информация</div>
            <div class="l-bottom-infolist-values">
                <div class="l-bottom-infolist-value">Политика конфиденциальности</div>
                <div class="l-bottom-infolist-value">Пользовательское соглашение</div>
                <div class="l-bottom-infolist-value">Публичная оферта</div>
            </div>
        </div>
        <div class="l-bottom-list">
            <div class="l-bottom-list-title">О компании</div>
            <div class="l-bottom-list-values">
                <div class="l-bottom-list-value">Контакты</div>
                <div class="l-bottom-list-value">История</div>
                <div class="l-bottom-list-value">Наша команда</div>
                <div class="l-bottom-list-value">Вакансии</div>
                <div class="l-bottom-list-value">Производители</div>
            </div>
        </div>
    </div>
    <div class="l-bottom-line">
        {# TODO вставить автозаполнение года #}
        ©2022 a-flow.avy.ru
    </div>
</div>