<div class="meny">
    <div class="wc">
        <div class=" row">
            <div class="col-3 ">
                <div class="logo"></div>
            </div>
            <div class="col-6">
                <div class="meny-list">
                    <span> Главная</span>
                    <span> A-Flow</span>
                    <span> Каталог</span>
                    <span> Прайс</span>
                    <span> Видео</span>
                    <span> Контакты</span>
                </div>
            </div>
            <div class="col-3">
                <div class="meny-contact ">
                    <div class="meny-contact-city">
                        Москва
                    </div>
                    <div class="meny-contact-tel">
                        +7 (495) 984-41-00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>