{% extends 'layouts/default/base.html.twig' %}

{% block body %}
    <div class="l-head">
        <div class="wc">
            <div class="l-head-top row">
                <div class="col col-md-8">
                    <form action='{{ path('app_search_result') }}' method='GET' autocomplete="off">
                        <div class="input-group input-group-lg mb-3 p-3">
                            <input placeholder="Введите название продукта, бренда или артикул" type="text" name="search_text"
                                   id="searchInput" class="form-control search-input search-input-main ">

                            <button class="btn btn-primary btn-search-border px-5" type='submit'>Найти</button>
                            <div class="suggestions suggest-absolute" id='suggest'></div>
                        </div>
                    </form>
                </div>
                <div class="col col-md-4 py-3">
                    <button class="btn btn-primary btn-lg" style="float: right;">Обратная связь</button>
                </div>
            </div>
            <div class="l-head-content">
                <div class="l-head-content-logo"></div>
                <div class="l-head-content-text">Регуляторы давления, манометры, шаровые краны, вентили, фильтры.</div>
                <div class="l-head-content-but">
                    <div class="button">Смотреть каталог</div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-about">
        <div class="wc">
            <div class="l-about-bread_crumbs">
                <span class="bread_crumbs-main">Производители</span>
                <span class="bread_crumbs-delimiter">❯</span>
                <span class="bread_crumbs-exta">A-Flow</span>
            </div>
            <div class="h2">
                О компании A-Flow
            </div>
            <div class="h2-extra">
                Компания A-FLOW (Франция) является ведущим разработчиком и поставщиком оборудования для управления и контроля технологических сред. Цель компании - обеспечение высочайшего качества и надежности.
            </div>
            <div class="l-about-differences row ">
                <div class="l-about-difference col-4">
                    <div class="l-about-differences-title">
                        Широкий ассортимент
                    </div>
                    <div class="l-about-differences-text">
                        Разнообразие продукции позволяет заказчикам компании решать комплексные проектные задачи и создавать высокотехнологичные надёжные системы и оборудование.
                    </div>
                </div>
                <div class="l-about-difference col-4">
                    <div class="l-about-differences-title">
                        Универсальное примение
                    </div>
                    <div class="l-about-differences-text">
                        Технологии широко применяются во всех сферах от квартиры и коттеджа до крупных промышленных предприятий, объектов ЖКХ и топливно-энергетического комплекса.
                    </div>
                </div>
                <div class="l-about-difference col-4">
                    <div class="l-about-differences-title">
                        Высокое качество
                    </div>
                    <div class="l-about-differences-text">
                        Работа инженеров компании и сотрудников по контролю качества направлена на удовлетворение потребностей всех клиентов, какими бы они не являлись.
                    </div>
                </div>
            </div>
            <div class="l-about-title h2">
                Каталог продукции A-Flow
            </div>
        </div>
    </div>
    <div class="l-products">
        <div class="wc">
            <div class="l-products-title">
                Регуляторы давления, манометры, расходомеры, шаровые краны, вентили, фильтры и др.
            </div>
            <div class="l-products-title-extra">
                Продажа бытовых счетчиков производится ТОЛЬКО ОПТОМ.
            </div>
            <div class="l-products-catalog row">
                <div class="l-products-catalog-offer col-4">
                    <div class="l-products-catalog-img">
                        <img src="img/1.png">
                    </div>
                    <div class="l-products-catalog-name">
                        Нагреватели
                    </div>
                    <div class="l-products-catalog-desc">
                        HR1-G-75W, HR1-F4N-75W
                    </div>
                </div>
                <div class="l-products-catalog-offer col-4">
                    <div class="l-products-catalog-img">
                        <img src="img/2.png">
                    </div>
                    <div class="l-products-catalog-name">
                        Манометры
                    </div>
                    <div class="l-products-catalog-desc">
                        G10, G20-G21-G22, G30-G32
                    </div>
                </div>
                <div class="l-products-catalog-offer col-4">
                    <div class="l-products-catalog-img">
                        <img src="img/3.png">
                    </div>
                    <div class="l-products-catalog-name">
                        Регуляторы давления
                    </div>
                    <div class="l-products-catalog-desc">
                        RPB1C, RPB1D, RPB4C, RPB4D
                    </div>
                </div>
                <div class="l-products-catalog-offer col-4">
                    <div class="l-products-catalog-img">
                        <img src="img/4.png">
                    </div>
                    <div class="l-products-catalog-name">
                        Контроль температуры
                    </div>
                    <div class="l-products-catalog-desc">
                        T-AY/AI, T-SH4/SH6
                    </div>
                </div>
            </div>
            <div class="l-products-button">
                <div class="button">
                    Смотреть полный список
                </div>
            </div>
        </div>
    </div>
    <div class="l-special">
        <div class="wc">
            <div class="h2">Подбор продукции A-Flow</div>
            <div class="h2-extra">
                Выберите наиболее удобный способ оформления заказа или получения информации по характеристикам, ценам и срокам поставки товара.
            </div>
            <div class="row l-special-blocks">
                <div class="col-xl-3 col-sm-6">
                    <div class="l-special-block-head">
                        <span class="l-special-block-head-num">1</span>
                        <span class="l-special-block-head-title">Прайс-лист</span>
                    </div>
                    <div class="l-special-block-body">
                        Ознакомьтесь с нашими ценами, получив прайс-лист или официальное коммерческое предложение по продукции A-Flow
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="l-special-block-head">
                        <span class="l-special-block-head-num">2</span>
                        <span class="l-special-block-head-title">Консультация</span>
                    </div>
                    <div class="l-special-block-body">
                        Обратитесь к нашим специалистам для получения наиболее подходящих по техническим характеристикам и бюджету вариантов A-Flow
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="l-special-block-head">
                        <span class="l-special-block-head-num">3</span>
                        <span class="l-special-block-head-title"><span>Подбор аналога</span></span>
                    </div>
                    <div class="l-special-block-body">
                        Сообщите нам маркировку конкурентов и мы предоставим выгодное по параметрам и ценовому диапазону предложение A-Flow
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="l-special-block-head">
                        <span class="l-special-block-head-num">4</span>
                        <span class="l-special-block-head-title">Заказ и доставка</span>
                    </div>
                    <div class="l-special-block-body">
                        Отправьте нам заявку для получения счета и договора купли-продажи для юридических и физических лиц на товары A-Flow
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-sm-12">
                    <div class="h2">Инфостенд A-Flow</div>
                    <div class="h2-extra">
                        Узнайте больше о продукции компании A-flow.
                    </div>
                    <div class="row l-special-icons">
                        <div class="col-3">
                            <div class="l-special-icon-files">
                                <img src="img/pdf.svg">
                            </div>
                            <div class="l-special-icon-text">
                                Каталог на трубные зажимы
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="l-special-icon-files">
                                <img src="img/pdf.svg">
                            </div>
                            <div class="l-special-icon-text">
                                Каталог на технические клапаны
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="l-special-icon-files">
                                <img src="img/pdf.svg">
                            </div>
                            <div class="l-special-icon-text">
                                Каталог на трубные зажимы
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="l-special-icon-files">
                                <img src="img/xlsx.svg">
                            </div>
                            <div class="l-special-icon-text">
                                Прайс-лист на продукцию
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-sm-12">
                    <div class="h2">Обзор продукции A-Flow</div>
                    <div class="l-special">
                        <video poster="img/video.png"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-contact">
        <div class="wc">
            <div class="row">
                <div class="col-8">
                    <div class="l-contact-meny row">
                        <a class="l-contact-meny-value col-3">Производители</a>
                        <a class="l-contact-meny-value col-3">Категории товаров </a>
                            <a class="l-contact-meny-value col-3">Справочная информация</a>
                            <a class="l-contact-meny-value col-3">Контакты</a>
                    </div>
                    <div class="l-contact-logo">
                        <img src="img/logo-blue.svg">
                    </div>
                    <div class="l-contact-text">Для получения информации о стоимости и сроках поставки оборудования A-flow обратитесь к нам наиболее удобным способом.</div>
                    <div class="l-contact-contacts">
                        <div class="l-contact-contacts-tel">
                            <div class="l-contact-contacts-tel-icon"></div>
                            <span class="l-contact-contacts-contact-value">+7 (495) 984-41-00</span>
                        </div>
                        <div class="l-contact-contacts-email">
                            <div class="l-contact-contacts-email-icon"></div>
                            <span class="l-contact-contacts-contact-value">mail@fluid-line.ru</span>
                        </div>
                        <div class="l-contact-contacts-adr">
                            <div class="l-contact-contacts-adr-icon"></div>
                            <span class="l-contact-contacts-contact-value">107023, Москва, ул.Большая Cеменовская, д.49 (5 этаж, офис 501)</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="l-contact-form">
                        <form>
                            <input class="l-contact-form-input" name="name" placeholder="Ваше имя">
                            <input class="l-contact-form-input" name="email" placeholder="you@mail.ru">
                            <textarea class="l-contact-form-textarea" placeholder="Ваше сообщение"></textarea>
                            <button class="l-contact-form-button button">Написать нам</button>
                        </form>
                    </div>
                    <div class="l-contact-social">
                        <a><img src="img/iyout.svg"></a>
                        <a><img src="img/itg.svg"></a>
                        <a><img src="img/ivk.svg"></a>
                        <a><img src="img/idzen.svg"></a>
                        <a><img src="img/iinst.svg"></a>
                        <a><img src="img/iok.svg"></a>
                        <a><img src="img/ifb.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
